:root{
    --color-whiteegg:#fff9f9;
    --color-magenta-up1:#c03b6b;
    --color-magenta:#9a1653;
    --color-magenta-down:#680634;
    --color-pink:#de4190;
    --color-pink-salmon:#f07e88;
    --color-dark4:#000000;
    --color-smoke-blue:#9d96c3;
    --color-purple:#7d4494;
}


*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
     background-color: var(--color-whiteegg);  /*bracno casca de ovo */
    color: var(--color-white);
}

                                                                        /* Início do cabeçalho */
.img_logo_header{
    width: 45px;
}
.img_logo_header_tx{
    width: 140px;
}

.header,
.navigation_header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header{
    background-color:var(--color-magenta);
    justify-content: space-between;
    padding: 0 10%;
    height: 3.5em;
    box-shadow: 1px 1px 4px var(--color-dark4);
    
}
.navigation_header{
    gap: 1em;
    z-index: 2;
}
                                /* é a área clicável */
.content{       
    transition: 1s;
    border: 0;
    
}



.navigation_header a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: 0.5s;
    font-weight: bold;
}
.navigation_header a:hover{
    color:var(--color-magenta-down);
}
.active{
    background: none;
    padding: 7px;
    border-radius: 10px;
}


.btn_icon_header{
    background: transparent;
    border: none;
    color: var(--color-white);
    cursor: pointer;
    display: none;
    color: whitesmoke;
}
@media screen and (max-width: 768px) {
    .navigation_header{
        position: absolute;
        flex-direction: column !important;
        top: 0;
        background: var(--color-magenta);
        height: 50%;
        width: 35vw;
        padding: 1em;
        border-radius: 5px;
        animation-duration: 1s;
        margin-left: -100vw;
    }
    .btn_icon_header{
        display: block;
    }
}
@keyframes showSidebar {
    from {margin-left: -100vw;}
    to {margin-left: -10vw;}
}




                                                                            /* Fim do cabeçalho */

                                                                        /* Início do Container 2 */

.container{
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    color:var(--color-magenta);
    font-size: 4vw;
    
}

.backGroundImage{
   max-width: 100%;
  
}

.container2{
    
    max-width: 1200px ;
    margin: 0 auto;
    margin-bottom: 15vw;
 
}
.viva{
    font-size: 4vw;
    font-family:Arial, Helvetica, sans-serif;
    position: relative;
    margin-top: 50px;
    margin-bottom: 70px;
    color:var(--color-magenta);
    text-align: center;
}

main.cards{
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

main.cards section.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    max-height: 236px;
}

main.cards section.card img{
    max-width: 20vw;
    
    
    
}
main.cards section.card img:hover{
    transform: scale(1.1);
    transition: 1.0s ease-in-out;
    

}


main.cards section.card h3{
    color: var(--color-magenta);
    
}

main.cards section.card span{
    font-weight: 300;
    max-width: 20vw;
    margin-top: 16px;
    margin-bottom: 10px;
    color: rgb(77, 77, 77);
}


main.cards section.card button{
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border-radius: 32px;
    border: 0;
    cursor: pointer;
    font-size: 80%;
    font-weight: 500;
    color: white;
    background: linear-gradient(to right, var(--color-pink), var(--color-pink-salmon));
     /* Gradiente muito foda*/
     box-shadow: 0px 1px 5px 0px grey;
}

main.cards section.card button:hover{
    transform: scale(1.1);
    transition: 0.3s ease;
}
                                                                        /* fim do container 2 */


                                                                        /* Início do Container 3 */
.container3{
    display:grid;
    max-width: 1200px;
    margin: 0 auto;
    height: 140vh;
    grid-template-areas: 
    "header header"
    "main aside";
    grid-template-rows: 200px 1fr 0px ;
    grid-template-columns: 1fr 1fr;
}
.container3 h2{
    grid-area:header;
    font-size: 4vw;
    font-family:Arial, Helvetica, sans-serif;
    position: relative;
    margin-top: 50px;
    margin-bottom: 70px;
    color:var(--color-magenta);
    text-align: center;
}

.container3 img{
    grid-area:main;
    
}

.container3 form{
    grid-area:aside;
    display:flex;
    flex-direction: column;
    gap: 1rem;
    background-color:#efefeb;
    padding: 1rem;
    max-height: 60vh;
    border-radius: 30px;
    width: 60%;
    margin-left: 7rem;
    margin-top: 1rem;
    /* overflow: auto; */
    box-shadow: 20px 20px 50px -30px grey 
    ;
}

.container3 form h1{
    color: var(--color-purple);
    font-family: Arial, Helvetica, sans-serif;
    font-weight:700;
    margin-bottom: 1rem;

}

.span-required{
    display: none;
}

.container3 .inputs{
    padding: 8px 5px;
    outline:none;
    border-radius: 5px;
    border: 2px solid var(--color-smoke-blue);
    width: 100%;
    box-sizing: border-box;
    transition: .3s;
    
}




.container3 .inputs:focus{
    border-color: var(--color-purple);

}

.container3 .formButton{
    padding: 1rem;
    font-size: 1rem;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
    background-color:var(--color-smoke-blue);
    color: var(--color-whiteegg);
    cursor: pointer;
    transition: 0.3s;
}

.container3 .formButton:hover{
    background-color: var(--color-purple);
}


@media screen and (max-width: 768px) {
    .container3{
        display: grid;
        grid-template-areas: 
        "header header"
        "footer footer";
        grid-template-rows: 100px 1fr 0px ;
        grid-template-columns: 1fr 1fr;
        grid-area:footer;
        flex-direction: column !important;
        margin-top: 100px;
        margin-bottom: 100px;

     
    }

    .container3 img{
        grid-area:header;
        min-width: 200px;
        flex-direction: column !important;
        margin-top: 100px;
    
    }
    
    
    
    .container3 form{
        grid-area:footer;
        flex-direction: column !important;
        margin-top: 30em;
        margin-bottom: 1em;
    
        
    }

  

}




                                                                        /* Fim do Container 3 */

                                                                                /* Rodapé */
footer{
   display: flex;
   justify-content: flex-end;
   align-items: center;
   flex-direction: column;
   min-height: 100px;
   background-color: var(--color-magenta);
   position: relative;
    max-width: 100%;
    padding: 2rem 1rem;
}

.container-footer{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col{
    min-width: 250px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 2rem;
}

.container-footer .row .col img{
    max-width: 30%;
    margin-bottom: 25px;
    
}

.col h3{
    color:white;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;

}

.col h3::after{
    content: '';
    height: 3px;
    width:0px;
    background-color:var(--color-pink);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

.col h3:hover::after{
    width: 50px;
}

.col .social a i{
    color:white;
    margin-top: 2rem;
    margin-right: 5px;
    transition: 0.3s ease;
}

.col .social a i:hover{
    transform: scale(1.5);
    filter: contrast(25);
}

.col .links a{
    display: block;
    text-decoration: none;
    color: white;
    margin-bottom: 5px;
    position: relative;
    transition: 0.3s ease;
    padding: 5px;
}

.col .links a:before{
    content: '';
    height: 16px;
    width: 3px;
    position: absolute;
    top: 5px;
    left: -10px;
    background-color: var(--color-pink);
    transition: 0.5s ease;
    opacity: 0;
}

.col .links a:hover::before{
    opacity: 1;
}

.col .links a:hover{
    transform: translateX(-8px);
    
}


.col .contact-details{
    margin-top: 0;
    display: inline-flex;
    justify-content: space-between;
    padding: 10px;
}

.col .contact-details i{
    margin-right: 15px;
}

.row .form{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    
    
}

.row .form input{
    background-color:#fff9f9;
    border: 0;
    outline: none;
    padding: 14px 20px;
    border-radius: 6px;
    border-top-right-radius:0;
    border-bottom-right-radius:0;
}

.row .form i{
    color: #fff9f9;
}




.row .form input::placeholder{
    color: grey;
    opacity: 90%;
}

.form button{
    padding: 14px 20px;
    border: 0;
    border-radius: 6px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color:var(--color-magenta-up1) ;
    cursor: pointer;
    
}

.Copyright{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    opacity: 70%;
    color: white;
}


                                        /* Responsividade do rodapé */

                                       
                                        
@media screen and (max-width:1034px)
{ 
    .row{
        
        flex-direction: column;
    }

    .col{
        width: 100%;
        text-align: left;
        margin-bottom: 20px;
    }
}

                                                                                /* Fim do rodapé */